
<section class="slider">
    <div class="slider__main">
      <div class="slider__image slider__main-image">
        <div class="slider__image"><img src="./assets/s1.jpg" alt=""></div>
      </div>
    </div>
  
    <div class="slider__thumbs-wrapper">
      <button class="thumbs-prev">‹</button>
  
      <div class="slider__thumbs-row" id="thumbsRow">
        <div class="slider__image"><img src="./assets/s1.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s2.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s3.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s4.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s5.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s6.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s7.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s8.jpg" alt=""></div>
        <div class="slider__image"><img src="./assets/s9.jpg" alt=""></div>
      </div>
  
      <button class="thumbs-next">›</button>
    </div>
  </section>
  
