<div class="wrapper">
  <table>

  <thead>
    <tr>
      <th scope="col">Customer Name</th>
      <th scope="col">Company</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Account">Jane Cooper</td>
      <td data-label="Due Date">Microsoft</td>
      <td data-label="Amount">(225) 555-0118</td>
      <td data-label="Period">jane@microsoft.com</td>
      <td data-label="Period">United States</td>
      <td data-label="Period">active</td>
    </tr>
    <tr>
      <td data-label="Account">Jane Cooper</td>
      <td data-label="Due Date">Microsoft</td>
      <td data-label="Amount">(225) 555-0118</td>
      <td data-label="Period">jane@microsoft.com</td>
      <td data-label="Period">United States</td>
      <td data-label="Period">active</td>
    </tr>
    <tr>
      <td data-label="Account">Jane Cooper</td>
      <td data-label="Due Date">04/01/2016</td>
      <td data-label="Amount">(225) 555-0118</td>
      <td data-label="Period">jane@microsoft.com</td>
      <td data-label="Period">United States</td>
      <td data-label="Period">active</td>
    </tr>

  </tbody>
</table>
</div>