  <div class="shop__filsters filter">

        <div class="filter-search filter__item">
            <h3 class="filter__title">SEARCH</h3>
            <form class="filter-search__form" action="#">
                <input class="filter-search__input" type="text" placeholder="Search your keyword...">
                <button class="filter-search__btn" type="submit">
                    поиск
                </button>
            </form>
        </div>
        <div class="filter__item filter-price">
            <h3 class="filter__title">Price Filter</h3>
            <form class="fitler-price__form" action="#">
           


            <!--     filter price -->

            <div class="wrapper">
                <fieldset class="filter-price">
                 
                  <div class="price-field">
                    <div class="slider-track"></div>
                    <input type="range"  min="100" max="500" value="100" id="lower">
                    <input type="range" min="100" max="500" value="500" id="upper">
                    
                  </div>
                   <div class="price-wrap">
                    <span class="price-title">FILTER</span>
                    <div class="price-wrap-1">
                      <input id="one">
                      <label for="one">$</label>
                    </div>
                    <div class="price-wrap_line">-</div>
                    <div class="price-wrap-2">
                      <input id="two">
                      <label for="two">$</label>
                    </div>
                    <label class="filter-price__label">
                        <button class="filter-price__btn" type="submit">Fiter</button>
                    </label>
                  </div>

                </fieldset> 
              </div>

           
            </form>




        </div>
        <div class="filter__item filter-color">
            <h3 class="filter__title">Color Filter</h3>
            <form class="filter-color__form" action="#">
                <label class="filter-color__label">
                    <span class="filter-color__text">Blue (15)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--blue"></span>
                    </div>
                </label>
                <label class="filter-color__label">
                    <span class="filter-color__text">Red (09)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--red"></span>
                    </div>
                </label>
                <label class="filter-color__label">
                    <span class="filter-color__text">Green (28)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--green"></span>
                    </div>
                </label>
                <label class="filter-color__label">
                    <span class="filter-color__text">Orange (11)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--orange"></span>
                    </div>
                </label>
                <label class="filter-color__label">
                    <span class="filter-color__text">Black (05)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--black"></span>
                    </div>
                </label>
                <label class="filter-color__label">
                    <span class="filter-color__text">Purple (21)</span>
                    <div class="filter-color__box">
                        <input class="filter-color__input" type="checkbox">
                        <span class="filter-color__checbox filter-color__checbox--purple"></span>
                    </div>
                </label>
            </form>
        </div>
        <div class="filter__item filter-size">
            <h3 class="filter__title">Size Filter</h3>
            <form class="filter-size__form" action="#">
                <label class="filter-size__label">
                    <input class="filter-size__input" type="checkbox">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text"> X-small </span>
                </label>
                <label class="filter-size__label">
                    <input class="filter-size__input" type="checkbox">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text"> Small </span>
                </label>
                <label class="filter-size__label">
                    <input class="filter-size__input" type="checkbox">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text"> Medium </span>
                </label>
                <label class="filter-size__label">
                    <input class="filter-size__input" type="checkbox">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text"> Large </span>
                </label>
                <label class="filter-size__label">
                    <input class="filter-size__input" type="checkbox">
                    <span class="filter-size__checkbox"></span>
                    <span class="filter-size__text"> XXL </span>
                </label>
            </form>
        </div>
        <div class="filter__item filter-category">
            <h3 class="filter__title">Category</h3>
            <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                        <span>Woman</span>
                        <span>48</span>
                    </div>
                </label>
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                        <span>Man</span>
                        <span>30</span>
                    </div>
                </label>
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox" checked="">
                    <div class="filter-category__checkbox">
                        <span>Sale Products</span>
                        <span>92</span>
                    </div>
                </label>
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                        <span>Fashion</span>
                        <span>121</span>
                    </div>
                </label>
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                        <span>Hot Dresses</span>
                        <span>52</span>
                    </div>
                </label>
                <label class="filter-category__label">
                    <input class="filter-category__input" type="checkbox">
                    <div class="filter-category__checkbox">
                        <span>Accessories</span>
                        <span>88</span>
                    </div>
                </label>
            </form>
        </div>
        <div class="filter__item filte-popular">
            <div class="filter__title">Popular Tags</div>
            <form class="filte-popular__form" action="#">
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">Sweetshirt</span>
                </label>
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">Man Accessories</span>
                </label>
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">Fashion</span>
                </label>
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">Polo</span>
                </label>
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">T-Shirt</span>
                </label>
                <label class="filte-popular__label">
                    <input class="filte-popular__input" type="checkbox">
                    <span class="filte-popular__checkbox">Jewellery</span>
                </label>
            </form>
        </div>

    </div>